node_modules
.pnpm-store/
.DS_Store
.env
*.enc
*.key
temp/
_temp/
dist/
logs/
.vscode/
docs/reference/
gcp-credentials.json

# LLM Tools / Plugings / Systems
plans/
.kiro/
.agent-os/
agent-os/

# Claude Things
.claude/settings.local.json
.claude/worktrees/

# Pnpm publish report
pnpm-publish-summary.json

docker-compose.remote.yml
